/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
#Not ignore shopping cart AND PDF
#!/vendor/mpdf

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea


