<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

#     If you want to redirect http://example.com to http://www.example.com
#    config URL SEO
#
#        RewriteCond %{HTTP_HOST} !^www.example.com$ [NC]
#        RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]

    #JavaScript Caching Test
#    <IfModule mod_expires.c>
#        ExpiresActive on
#
#        ExpiresByType text/javascript "access plus 1 month"
#        ExpiresByType application/javascript "access plus 1 month"
#   </IfModule>
    #Css Caching Test
#    <IfModule mod_expires.c>
#        ExpiresActive on
#
#        ExpiresByType text/css "access plus 1 month"
#     </IfModule>
</IfModule>
